* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f5f7fa;
}
header {
    background: #0f2027;
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
    color: white;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}
.hero {
    min-height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
}

.hero-content h1 {
    font-size: 42px;
}

.hero-content span {
    color: #00c6ff;
}

.hero-content p {
    margin: 20px 0;
    max-width: 450px;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #00c6ff;
    color: black;
    text-decoration: none;
    border-radius: 25px;
}

.hero-image img {
    width: 280px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}
.about {
    background: white;
    padding: 60px;
    text-align: center;
}

.about p {
    max-width: 700px;
    margin: 15px auto;
}

.btn-outline {
    display: inline-block;
    padding: 10px 25px;
    border: 2px solid #00c6ff;
    color: #00c6ff;
    text-decoration: none;
    border-radius: 20px;
}
.skills {
    background: #eef2f3;
    padding: 60px;
    text-align: center;
}

.skill-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.skill-box div {
    background: white;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.projects {
    padding: 60px;
    text-align: center;
    background: white;
}

.project-card {
    max-width: 500px;
    margin: auto;
    background: #f5f7fa;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.contact {
    background: #eef2f3;
    padding: 60px;
    text-align: center;
}
footer {
    background: #0f2027;
    color: white;
    text-align: center;
    padding: 15px;
}
